/*  */
*{ box-sizing: border-box; font-family: Arial, Helvetica, sans-serif; }

.table{ display: table; width: 100%; }
.cell{ display: table-cell; }

.ma{ margin: auto; }
.c{ text-align: center; }

.s1{ width: 100%; }

.shadow{ box-shadow: 0px 7px 4px -5px rgba(0,0,0,0.2); }

/* CLOCK */

.clock-box{
    padding: 20px 10px;
    max-width: 600px;
}
.row{ margin-bottom: 25px; }
.time-element{ /* cell's */
    border: 1px solid rgba(0,0,0,0.2);
    height: 40px;
}

/* Seconds */
.secondsCircle{
    width: 40px;
    height: 40px;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 50%;
}
.secondsCircle.on{ background-color: rgb(232, 207, 20) }

/* Hour 5 */
.hour5.on{ background-color: rgb(237, 59, 59); }

/* Hour 1 */
.hour1.on{ background-color: rgb(237, 59, 59); }

/* Minute 5 */
.minute5.on{ background-color: rgb(232, 207, 20); }
.minute5.red.on{ background-color: rgb(237, 59, 59); }

/* Minute 1 */
.minute1.on{ background-color: rgb(232, 207, 20); }

/* actualTime */
.actualTime{
    width: 95px;
    font-size: 16px;
}

